@import url(grid.css);
@import url(select2.css);
@import url(../fonts/roboto.css);
* { margin: 0; padding: 0; }

ul, li { list-style: none; }

a { text-decoration: none; }

.clr { clear: both; }

a, input, textarea, button { outline: none; }

body { background-color: #fff; font-family: "Roboto", "Tahoma"; font-size: 16px; }

.top_menu { background-color: #fff; height: 70px; width: 100%; -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.3); box-shadow: 0 0 7px rgba(0, 0, 0, 0.3); }
.top_menu .logo { text-align: center; line-height: 70px; }
.top_menu .logo a { display: block; }
.top_menu .main_menu ul li { float: left; }
.top_menu .main_menu ul li a { color: #333; display: block; line-height: 70px; font-size: 14px; padding: 0 15px; font-weight: 400; -webkit-transition: all 0.2s ease; transition: all 0.2s ease; }
.top_menu .main_menu ul li a:hover { background-color: #1f91ea; color: #fff; }
.top_menu .main_menu ul li .btn_red:hover { background-color: #eb5757; }
.top_menu .language section { margin-top: 6px; }
.top_menu .btn_deal { display: block; text-align: center; width: 150px; height: 45px; line-height: 45px; font-size: 12px; color: #fff; background-color: #57bb58; margin: 15px auto 0; }

header { padding: 80px 0; background-image: url("../img/header_top.jpg"); background-size: cover; }
header .slogan { background-color: #1f91ea; height: 325px; }
header .slogan h1 { color: #fff; font-weight: 300; font-size: 26px; line-height: 33px; text-align: center; padding-top: 113px; }
header .header_form { background-color: #FFF; height: 325px; }
header .col-md-6, header .col-md-4 { padding: 0; }

.tabs { min-width: 300px; max-width: 800px; padding: 0px; margin: 0 auto; }
.tabs > section { display: none; padding: 15px; background: #fff; }
.tabs > section form { -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation-name: fadeIn; animation-name: fadeIn; }
.tabs > section .form_login, .tabs > section .form_reg { text-align: center; }
.tabs > section .form_login input, .tabs > section .form_reg input { width: 235px; height: 45px; display: block; margin: 25px auto; border: solid 2px #f3f3f3; padding: 0 15px; font-family: "Roboto"; font-size: 12px; -webkit-transition: all 0.4s ease; transition: all 0.4s ease; }
.tabs > section .form_login input:focus, .tabs > section .form_reg input:focus { border: solid 2px #1f91ea; }
.tabs > section .form_login input[type='submit'], .tabs > section .form_reg input[type='submit'] { background-color: #1f91ea; border: none; color: #fff; margin-bottom: 15px; }
.tabs > section .form_login input[type='submit']:hover, .tabs > section .form_reg input[type='submit']:hover { cursor: pointer; background-color: #1276c4; }
.tabs > section .form_login a, .tabs > section .form_reg a { text-decoration: underline; font-size: 12px; color: #aaa; }
.tabs > section .form_reg input { margin: 13px auto; }
.tabs input[type='radio'] { display: none; position: absolute; }
.tabs label { display: block; margin: 0 0 -1px; padding: 15px 25px; float: left; width: 50%; font-weight: 400; text-align: center; font-size: 14px; color: #aaa; background: #f3f3f3; }
.tabs label:hover { color: #888; cursor: pointer; }
.tabs input:checked + label { color: #555; border-bottom: 1px solid #fff; background: #fff; }
@-webkit-keyframes fadeIn { from { opacity: 0; }
  to { opacity: 1; } }
@keyframes fadeIn { from { opacity: 0; }
  to { opacity: 1; } }
#login:checked ~ #content-login, #registration:checked ~ #content-registration { display: block; }

.search { height: 450px; background-color: #0f1e31; }

.deals h2 { font-size: 26px; font-weight: 300; padding: 40px 0; }
.deals .item { min-height: 530px; -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); margin-bottom: 25px; }
.deals .item img { width: 100%; }
.deals .item .mini_cont { padding: 20px; }
.deals .item .mini_cont .details { border-bottom: solid 1px #f3f3f3; padding-bottom: 20px; }
.deals .item .mini_cont .info, .deals .item .mini_cont .type { float: left; width: 50%; }
.deals .item .mini_cont .info .price { font-weight: 700; font-size: 18px; display: inline-block; }
.deals .item .mini_cont .info p { font-size: 14px; font-weight: 300; }
.deals .item .mini_cont .type span { display: inline-block; width: 90%; text-align: center; height: 40px; line-height: 40px; background-color: #f3f3f3; color: #aaa; font-size: 14px; }
.deals .item .mini_cont .desc .title { font-size: 16px; font-weight: 700; padding: 20px 0; }
.deals .item .mini_cont .desc .sub_desc { font-size: 14px; text-overflow: ellipsis; max-height: 35px; overflow: hidden; }
.deals .item .mini_cont .more { display: block; width: 220px; height: 46px; line-height: 46px; text-align: center; background-color: #1f91ea; color: #fff; font-size: 14px; margin: 10px auto; }

.reg_form { padding-top: 70px; }
.reg_form form { -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.3); box-shadow: 0 0 7px rgba(0, 0, 0, 0.3); padding: 40px; }
.reg_form form .info { margin-bottom: 50px; }
.reg_form form .info h3 { font-size: 18px; }
.reg_form form .info p { font-size: 16px; }
.reg_form form input { width: 235px; height: 45px; display: block; margin: 15px 0; border: solid 2px #f3f3f3; padding: 0 15px; font-family: "Roboto"; font-size: 12px; -webkit-transition: all 0.4s ease; transition: all 0.4s ease; }
.reg_form form input:focus { border: solid 2px #1f91ea; }
.reg_form form input[type='submit'] { background-color: #1f91ea; border: none; color: #fff; margin-bottom: 15px; }
.reg_form form input[type='submit']:hover { cursor: pointer; background-color: #1276c4; }
.reg_form form label { font-size: 14px; }
.reg_form form .sep { width: 100%; height: 2px; background-color: #f3f3f3; margin: 15px 0; }

.cabinet { margin: 25px 0; }
.cabinet .shadow { -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }
.cabinet .btn_group .btn_add { display: inline-block; background-color: #57bb58; color: #fff; font-size: 12px; padding: 10px; -webkit-transition: all 0.4s ease; transition: all 0.4s ease; }
.cabinet .btn_group .btn_add:hover { background-color: #409f41; }
.cabinet table { width: 100%; }
.cabinet table tr th { font-size: 14px; }

.deal_block { margin-top: 50px; -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }
.deal_block h3 { margin: 15px 0; }
.deal_block form .input_group { margin: 25px auto; }
.deal_block form .input_group label { display: inline-block; width: 275px; font-size: 14px; }
.deal_block form .input_group select, .deal_block form .input_group input { width: 225px; }
.deal_block form .input_group span { font-size: 12px; }
.deal_block form .input_group input { padding-left: 8px; padding-right: 20px; height: 28px; border-radius: 4px; border: solid 1px #aaa; font-family: "Roboto"; }
.deal_block form .input_group .min_input { width: 120px; margin: 0 15px; }
.deal_block form .input_group input[type=checkbox] { height: 14px; width: 14px; }
.deal_block form .input_group .mini_group { padding-left: 275px; margin: 15px 0; }

/*# sourceMappingURL=main.css.map */